body {
    background-color: rgba(240, 240, 240, 0.856);
    font: 16pt arial-black ;
}

section {
    
    background: rgb(131, 240, 255);
    border-radius: 50px;
    padding: 20px;
    width: 200px;
    margin: auto;
    
}

header {

    text-align:center;


}
