body {
    background-color: rgba(0, 0, 0, 0.856);
    font: 16pt arial-black ;
}

section {

    background: rgb(158, 166, 167);
    border-radius: 20px;
    padding: 25px;
    width: 600px;
    margin: auto;
    box-shadow: 5px 5px 12px rgba(136, 133, 128, 0.534);
}

header {

    text-align: center;


}

footer {

    text-align: center;
    font-style: italic;


}