body {
    background-color: rgba(255, 51, 0, 0.856);
    font: 16pt arial-black ;
}

section {

    background: rgb(243, 180, 135);
    border-radius: 20px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 12px rgba(255, 166, 0, 0.534);
}

header {

    text-align: center;


}

footer {

    text-align: center;
    font-style: italic;


}